.div-height {
  height: 20px;
}

.show-intro-content-menu {
  height: 212px;
  display: block;
}

.hide-intro-content-menu {
  height: 0px;
  display: none;
}

/*intro-content*/

.intro-content-menu-item:hover {
  background-color: #923a17;
}

.intro-content-menu-item {
  padding-left: 20px;
  line-height: 1.8;
}

#intro-content-button-wrapper {
  width: 100%;
  order: 1px solid blue;
  overflow: hidden;
}

#intro-content-menu {
  background-color: #b7542d;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
  transition: height 1s;
}

#intro-content-button:hover {
  color: white;
  background-color: #b7542d;
}

#intro-content-button {
  width: 80px;
  border: 1px solid #b7542d;
  border-radius: 5px;
  color: #b7542d;
  background-color: rgba(255, 230, 0, 0.253);
  text-align: center;
  float: right;
  margin-left: 460px;
  line-height: 1;
  padding-bottom: 2px;
  padding-top: 2px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

/*jiné barvy odkazu na uvod.html */
#page div.no-link-underline a {
  border-bottom: 0px dashed #499b00;
}

#page div.no-link-underline a:hover {
  border-bottom: 3px dashed rgba(255, 60, 0, 0.945);
}

.pozdrav {
  margin-bottom: -40px;
}

#mili-priznivci {
  order: 1px solid ed;
  margin-bottom: 10px;
}

.different-text-style {
  font-weight: 0;
  order: 1px solid blue;
  olor: rgb(49, 49, 49);
  font-style: italic;
}
