<div id="intro-content-button-wrapper">
  <button id="cc-email-content-button"><i class="fa fa-bars"></i> Obsah</button>
</div>

<div id="cc-email-content-menu" class="hide-cc-email-content-menu">
  <div class="div-height"></div>
  <a class="content-item-1" href="#anchor-povoleni">Povolení</a>
  <a class="content-item-2" href="#anchor-vytvorene-titulky"
    >Vytvořené titulky</a
  >
  <a class="content-item-3" href="#anchor-autorsky-zakon"> Autorský zákon </a>
  <a class="content-item-4" href="#anchor-prekazka">Překážka</a>
  <a class="content-item-5" href="#anchor-dobry-dusledek">Dobrý důsledek</a>
  <a class="content-item-6" href="#anchor-odpoved">Odpověď</a>
  <a class="content-item-7" href="#anchor-oznaceni-tretich-stran"
    >Poznámka pro uživatele</a
  >
  <a class="content-item-8" href="#anchor-youtube">YouTube</a>
  <a class="content-item-9" href="#anchor-reseni">Řešení</a>
  <a class="content-item-10" href="#anchor-otazka-na-zaver">Otázka na závěr</a>

  <a class="div-height"></a>
</div>

<div id="anchor-pandita"></div>
