<div id="intro-content-button-wrapper">
  <button id="content-menu-button"><i class="fa fa-bars"></i> Obsah</button>
</div>

<!--<div class="buddhist-flag">
  <mg id="buddhist-flag" src="../assets/buddhist-flag.png" alt="buddhist-flag" >
  <div id="buddhisticka-vlajka-napis">Buddhistická vlajka</div>
  </div>-->

<div id="content-cc-licence-menu" class="hide-content-cc-licence">
  <div class="div-height"></div>
  <a class="content-item-1" href="#anchor-povoleni">Povolení</a>
  <a class="content-item-2" href="#anchor-vytvorene-titulky"
    >Vytvořené titulky</a
  >
  <a class="content-item-3" href="#anchor-autorsky-zakon"> Autorský zákon </a>
  <a class="content-item-4" href="#anchor-prekazka">Překážka</a>
  <a class="content-item-5" href="#anchor-dobry-dusledek">Dobrý důsledek</a>
  <a class="content-item-6" href="#anchor-odpoved">Odpověď</a>
  <a class="content-item-6" href="#anchor-oznaceni-tretich-stran"
    >Označení třetích stran</a
  >
  <a class="content-item-6" href="#anchor-youtube">YouTube</a>
  <a class="content-item-6" href="#anchor-reseni">Řešení</a>
  <a class="content-item-6" href="#anchor-otazky-na-zaver">Otázky na závěr</a>

  <a class="div-height"></a>
</div>

<div id="anchor-pandita"></div>
