<div id="intro-content-button-wrapper">
  <button id="intro-content-button"><i class="fa fa-bars"></i> Obsah</button>
</div>

<!--<div class="buddhist-flag">
<mg id="buddhist-flag" src="../assets/buddhist-flag.png" alt="buddhist-flag" >
<div id="buddhisticka-vlajka-napis">Buddhistická vlajka</div>
</div>-->

<div id="intro-content-menu" class="hide-intro-content-menu">
  <div class="div-height"></div>
  <a class="content-item-1" href="#anchor-pandita">PANDITA CZ</a>
  <a class="content-item-2" href="#anchor-dulezita-otazka"> Důležitá otázka </a>
  <a class="content-item-3" href="#anchor-dhamma-depozitar">
    Dhamma depozitář
  </a>
  <a class="content-item-4" href="#anchor-autorsky-zakon">Autorský zákon</a>
  <a class="content-item-5" href="#anchor-kontakt">Kontakt</a>
  <a class="content-item-6" href="#anchor-odkazy">Odkazy</a>

  <a class="div-height"></a>
</div>

<div id="anchor-pandita"></div>
