<div id="intro-content-button-wrapper">
  <div id="intro-content-button">Obsah:</div>
</div>

<!--<div class="buddhist-flag">
<mg id="buddhist-flag" src="../assets/buddhist-flag.png" alt="buddhist-flag" >
<div id="buddhisticka-vlajka-napis">Buddhistická vlajka</div>
</div>-->

<div id="intro-content-menu" class="hide-intro-content-menu">
  <div class="div-height"></div>
  <div class="content-item-1">PANDITA CZ</div>
  <div class="content-item-2">Povolení</div>
  <div class="content-item-3">Důležitá otázka</div>
  <div class="content-item-4">Dhamma depozitář</div>
  <div class="content-item-5">Autorský zákon</div>
  <div class="content-item-6">Kontakt</div>
  <div class="div-height"></div>
</div>
