<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!--Content--> 
    <main id="main">
      <div id="page">
        <div id="text-in-page">
     
        <p>
      
        {{ content }}

            
       </p>
       </div>
      </div>
    </main>
    {%- include footer.html -%}

   <script src="./js/script.js"></script>
   <script src="./js/script-pages.js"></script>
  </body>

</html>
